{% extends "base.html.twig" %}

{% block title %}Edit {{ product.name }}{% endblock %}

{% block body %}
    <div class="container w-25 mt-5">
        <form class="d-flex flex-column gap-3" action="edit">
            <input type="text" name="name" placeholder="CPU name" value="{{ product.name }}">
            <input type="number" name="price" placeholder="price" value="{{ product.price }}">
            <fieldset>
                <legend>Team</legend>
                <input type="radio" name="team" value="AMD"
                    {{ (product.team == "AMD") ? 'checked="checked"' : "" }}
                >
                <label for="team">AMD</label>
                <input type="radio" name="team" value="Intel"
                    {{ (product.team == "Intel") ? 'checked="checked"' : "" }}
                >
                <label for="team">Intel</label>
            </fieldset>
            <input type="text" name="platform" placeholder="Platform" value="{{ product.platform }}">
            <button class="btn btn-dark" type="submit">Edit</button>
        </form>
    {{ dump(product) }}
    </div>
{% endblock %}